include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточки

				.container-dashboard__content
					.cat-wrapper.scroll-wrapper(style="width: 430px")
						+catCard-ui(1,'Пицца')
						+catCard-ui(2,'Роллы')
						+catCard-ui(3,'Бургеры')
						+catCard-ui(4,'Закуски')
						+catCard-ui(5,'Напитки')
						+catCard-ui(6,'Десерты')
						+catCard-ui(7,'Салаты')
						+catCard-ui(8,'Наборы')
					
					.cat-wrapper.two-columns(style="width: 430px")
						+catCard-flex-ui(1,'Пицца')
						+catCard-flex-ui(2,'Роллы')
						+catCard-flex-ui(3,'Бургеры')
						+catCard-flex-ui(4,'Закуски')
						+catCard-flex-ui(5,'Напитки')
						+catCard-flex-ui(6,'Десерты')
						+catCard-flex-ui(7,'Салаты')
						+catCard-flex-ui(8,'Наборы')
						
				.product
					.product__img
						img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
					.product__body
						p.product__name Пицца Баварская
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
					.product__footer
						button.btn(type="button") от 630 &#8381;
				.two-columns(style="width:482px")
					.product
						.product__img
							img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
						.product__body
							p.product__name Пицца Баварская
							p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						.product__footer
							button.btn(type="button") от 630 &#8381;
					.product
						.product__img
							img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
						.product__body
							p.product__name Пицца Баварская
							p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						.product__footer
							button.btn(type="button") от 630 &#8381;
					.product
						.product__img
							img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
						.product__body
							p.product__name Пицца Баварская
							p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						.product__footer
							button.btn(type="button") от 630 &#8381;
					.product
						.product__img
							img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
						.product__body
							p.product__name Пицца Баварская
							p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						.product__footer
							button.btn(type="button") от 630 &#8381;
					.product
						.product__img
							img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
						.product__body
							p.product__name Пицца Баварская
							p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						.product__footer
							button.btn(type="button") от 630 &#8381;