include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 HEADERS
				header.header
					.header-content
						a(href="#!").btn-back.btn-round
						.h2-up Войти
				pre.
					header.header
						.header-content
							a(href="#!").btn-back.btn-round
							.h1 Войти
				hr
				header.header
					.header-content
						a(href="#!").btn-back
						.h2-up Регистрация
				pre.
					header.header
						.header-content
							a(href="#!").btn-back
							.h2-up Регистрация
				hr
				header.header
					.header-content
						a(href="#!").btn-close
						.h2-up Профиль
				pre.
					header.header
						.header-content
							a(href="#!").btn-close
							.h2-up Профиль
				hr
				header.header
					.header-content
						button.menu-btn
							span
						.header-group
							.lang-select.dropdown
								button.dropdown__button(type="button") RU
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Речной песок") RU
										li.dropdown__list-item(data-value="Пример заполнения 2") EN
		


		script.
			/*=====CUSTOM SELECT===== */
			if (window.NodeList && !NodeList.prototype.forEach) {
				NodeList.prototype.forEach = function (callback, thisArg) {
					thisArg = thisArg || window;
					for (var i = 0; i < this.length; i++) {
					callback.call(thisArg, this[i], i, this);
					}
				};
			}

			document.querySelectorAll('.dropdown').forEach(function (dropDownWrapper) {
				const dropDownBtn = dropDownWrapper.querySelector('.dropdown__button');
				const dropDownList = dropDownWrapper.querySelector('.dropdown__list');
				const dropDownListItems = dropDownList.querySelectorAll('.dropdown__list-item');
				const dropDownInput = dropDownWrapper.querySelector('.dropdown__input-hidden');

				// Клик по кнопке. Открыть/Закрыть select
				dropDownBtn.addEventListener('click', function (e) {
					dropDownList.classList.toggle('dropdown__list--visible');
					this.classList.toggle('dropdown__button--active');
				});
					

				// Выбор элемента списка. Запомнить выбранное значение. Закрыть дропдаун
				dropDownListItems.forEach(function (listItem) {
					listItem.addEventListener('click', function (e) {
					e.stopPropagation();
					dropDownBtn.innerText = this.innerText;
					dropDownBtn.focus();
					if(dropDownInput){dropDownInput.value = this.dataset.value;}
					
					dropDownList.classList.remove('dropdown__list--visible');
					dropDownBtn.classList.remove('dropdown__button--active');
					
					});
				});

				// Клик снаружи дропдауна. Закрыть дропдаун
				document.addEventListener('click', function (e) {
					if (e.target !== dropDownBtn) {
					dropDownBtn.classList.remove('dropdown__button--active');
					dropDownList.classList.remove('dropdown__list--visible');
					}
				});

				// Нажатие на Tab или Escape. Закрыть дропдаун
				document.addEventListener('keydown', function (e) {
					if (e.key === 'Tab' || e.key === 'Escape') {
					dropDownBtn.classList.remove('dropdown__button--active');
					dropDownList.classList.remove('dropdown__list--visible');
					}
				});
			});
										