include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Profile Menu

				.container-dashboard__content
					.profile-header
						.profile-header__avatar
							img(src="../img/avatar.webp",  srcset="../img/avatar@2x.webp 2x" alt="avatar")
						.profile-header__text
							.h5 Ульяна
							a.txt-grey(href="#!") info@internet-step.com
						.profile-header__btn
							button.btn-out
								svg.svg-out
									use(href='../img/sprite.svg#svg-out')
					
					nav.profile-menu
						a(href="#!").li
							svg.li-icon.svg-menu
								use(href='../img/sprite.svg#svg-menu')
							.h8 Меню
						a(href="#!").li
							svg.li-icon.svg-cart
								use(href='../img/sprite.svg#svg-cart')
							.h8 Корзина
							span.notify-item 4
						a(href="#!").li
							svg.li-icon.svg-list
								use(href='../img/sprite.svg#svg-list')
							.h8 История заказа
							span.notify-item 44
						a(href="#!").li
							svg.li-icon.svg-star
								use(href='../img/sprite.svg#svg-star')
							.h8 Избранное
							span.notify-item 7
						a(href="#!").li
							svg.li-icon.svg-discount
								use(href='../img/sprite.svg#svg-discount')
							.h8 Бонусы
						a(href="#!").li
							svg.li-icon.svg-info
								use(href='../img/sprite.svg#svg-info')
							.h8 О нас
						a(href="#!").li
							svg.li-icon.svg-doc
								use(href='../img/sprite.svg#svg-doc')
							.h8 Наша политика
						
						a(href="#!").li.li-delete-profile
							svg.li-icon.svg-delete
								use(href='../img/sprite.svg#svg-delete')
							.h8 Удалить аккаунт
							