.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
				li
					a(href="components.html") Компоненты
				
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="cards.html")  Карточки
				li
					a(href="order.html")  Оформление

		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="profile-menu.html") Profile Menu
				li
					a(href="header.html") Headers
				li
					a(href="footers.html") Footers
				
				
		