@use "../base/var" as *;

.footer{
	min-height: 82px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $p;
	color: white;
	.footer-content{width: 100%;}
	.h11{
		color: white;
	}
	.cart-preview{
		display: flex;
		flex:1;
		justify-content: space-between;
		&__img{
			img{
				display: inline;
				vertical-align: middle;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border:2px solid white;
				object-fit: cover;
			}
			img+img{
				margin-left: -24px;
				@media (max-width: 424px) {
				margin-left: -34px
				}
			}
		}
		&__count{
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 50%;
			.h11{color: $p;}
			

		}
	}
}
footer.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	.flex-between{column-gap:24px;}
}
.footer.footer--white{
	background-color: #fff;
	color: $p;
}
.price-block{
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 34px;
	line-height: 118%;
	color: $p;
	font-family: $fs;
	span{font-size: 24px;}
}
.total-price{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap:24px;
}