@use "base/var" as *;
.product-popup-header{
	border-bottom:0;
	.header-content{justify-content: center;text-align: center;position: relative;}
	.header-title{
		max-width: 250px; 
		@media (max-width: 424px) {
		padding-left: 10px;
		}
	}
}
.header.popup-header{
	background-color: transparent;
	border-bottom:0;
}
.popup-body__header{
	text-align: center;
	margin-top: 40px;
}
.popup-body__img.simple-image{
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup-body__img.simple-image img{
	border-radius: 24px;
	width: 100%;
	height: 238px;
	object-fit: contain;
}
.resize-img{
	position: relative;
	height: 295px;
	// margin-top: -125px;
	
	.resize-img__borders{
		width: 445px;
		height: 445px;
		display: block;
		position: absolute;
		top:-15px;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 2px dashed $s;
		border-radius: 50%;
		}
		.resize-img__borders:after{
			content: '';
			width: 525px;
			height: 525px;
			border-radius: 50%;
			border: 2px dashed $s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.resize-img__borders:before{
			content: '';
			width: 610px;
			height: 610px;
			border-radius: 50%;
			border: 2px dashed $s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		#scale-img{
		position: absolute;
		z-index: 2;
		width: 620px;
		height: 620px;
		max-width: unset;
		position: absolute;
		top:-15px;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .3s;
		
	}
	#scale-img.maxi{
		width: 620px;
		height: 620px;
	}
	#scale-img.medium{
		width: 545px;
		height: 545px;
	}
	#scale-img.small{
		width: 450px;
		height: 450px;
	}
}
.modal-frame{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: #fff;
	overflow: hidden;
	transform: translateX(110%);
	transition: .6s;
	&.visible{
		transform: translateX(0);
	}
}
.modal-frame.modal-frame--downUp{
	transform: translate(0, 110%);
	z-index: 6;
	&.visible{
		transform: translate(0, 0);
	}
}
.popup-body.scroll-y{
	height: calc(100vh - 144px);
	padding-bottom: 186px;
}
.footer.popUp-footer{
	
	z-index: 7;
	
}
#addProducts.visible + .popUp-footer #show-addProducts{display: none;}
.popup-body.popup-body--mt{margin-top: -125px;}
.popup-body{
	
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 215px);
    padding-bottom: 20px;
}