// popup с data-modal =add-product  с data-btn=add-product 
.modal-frame.modal-frame--downUp.visible(data-modal="add-product")
	.header.product-popup-header
		.container
			.header-content
				button.btn-close-dark.btn-abs(data-close)
					
				.header-title
					.h5 Пицца “Особая”
					p.txt-14 Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
	.popup-body.scroll-y
		.container.gap-20
			.popup-body__filters.gap-12
				.switch-group.switch-group--size
					label.switch-label(data-size="small")
						input(type="radio" name="switch_name2")
						span.switch-btn 28см
					label.switch-label(data-size="medium")
						input(type="radio" name="switch_name2" checked)
						span.switch-btn 32см
					label.switch-label(data-size="maxi")
						input(type="radio" name="switch_name2" )
						span.switch-btn 42см
				.switch-group
					label.switch-label
						input(type="radio" name="switch_name")
						span.switch-btn Традиционное
					label.switch-label
						input(type="radio" name="switch_name" checked)
						span.switch-btn Тонкое
					label.switch-label
						input(type="radio" name="switch_name")
						span.switch-btn Сырный бортик

			.content-wrapper.gap-20
				.content-wrapper-group.gap-12
					.title-16 Добавить:
					.add-products-group
						+addCard(1,'Лук', 80)
						+addCard(2,'Перчик Чили', 100)
						+addCard(3,'Бекон', 130)
						+addCard(4,'Сыр', 100)
						+addCard(5,'Моцарелла', 79)
						+addCard(6,'Сыры чеддер и пармезан', 79)
						+addCard(7,'Острый перец халапеньо', 59)(class="hide-card")
						+addCard(8,'Свежие томаты', 59)(class="hide-card")
						+addCard(9,'Маринованные огурчики', 159)(class="hide-card")
						
						
					//SHOW ALL CARDS
					button.show-all-product.flex
						span Показать все
						span.chevron-down
						
				.content-wrapper-group
					.title-16 Убрать:
	
	
	//- //POPUP FOOTER
	//- footer.footer.footer--white
	//- 	.container.gap-20
	//- 		.counter-wrapper
	//- 			.counter-wrapper__group
	//- 				p.txt-bold Количество:
	//- 				+counter
	//- 			.counter-wrapper__group
	//- 				p.txt-grey Вес: 550 гр.
	//- 		button.btn-accent.w-100 + 630 &#8381;
	//- 		button.show-add-product.flex-center
	//- 			span Добавить ингредиенты
	//- 			span.chevron-down