// popup с data-modal =add-product  с data-btn=add-product 
.modal-frame.modal-frame--downUp.visible(data-modal="add-product")
	.header.product-popup-header
		.container
			.header-content
				button.btn-close-dark.btn-abs(data-close)
					
				.header-title
					.h5 Пицца “Особая”
					p.txt-14 Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
	.popup-body
		.container.gap-20
			.popup-body__header
				.h5 Пицца “Особая”
				p.txt-14 Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
			
			.popup-body__filters.gap-12
				.switch-group.switch-group--size
					label.switch-label(data-size="small")
						input(type="radio" name="switch_name2")
						span.switch-btn 28см
					label.switch-label(data-size="medium")
						input(type="radio" name="switch_name2" checked)
						span.switch-btn 32см
					label.switch-label(data-size="maxi")
						input(type="radio" name="switch_name2" )
						span.switch-btn 42см
				.switch-group
					label.switch-label
						input(type="radio" name="switch_name")
						span.switch-btn Традиционное
					label.switch-label
						input(type="radio" name="switch_name" checked)
						span.switch-btn Тонкое
					label.switch-label
						input(type="radio" name="switch_name")
						span.switch-btn Сырный бортик


	//POPUP FOOTER
	footer.footer.footer--white
		.container.gap-20
			.counter-wrapper
				.counter-wrapper__group
					p.txt-bold Количество:
					+counter
				.counter-wrapper__group
					p.txt-grey Вес: 550 гр.
			button.btn-accent.w-100 + 630 &#8381;
			button.show-add-product.flex-center
				span Добавить ингредиенты
				span.chevron-down