// popup с data-modal  combo открывается по клику на  элемент с data-btn combo
.modal-frame.modal-frame-combo(data-modal="combo")
	//ЭКРАН С ОПИСАНИЕМ ПРОДУКТА
	
	.header.popup-header
		.container
			.header-content
				button.btn-back-dark(data-close)
					
				.header-right
					label.btn-favor.btn-round.fake-label
						input(type="checkbox" name="favor_input")
						svg.svg-favor
							use(href='./img/sprite.svg#svg-favor')
					
					button.btn-share.btn-round
						svg.svg-share
							use(href='./img/sprite.svg#svg-share')
	.popup-body
		.popup-body__img.simple-image
			img(src="./img/goods/chiken1.webp", srcset="./img/goods/chiken1@2x.webp 2x" width="550" height="550" alt="img")
		.container.gap-20
			.popup-body__header
				.h5 Чикен бокс
				p.txt-14 Наш комбо-набор — это хрустящие куриные наггетсы, золотистая картошка фри и нежный сырный соус. Идеальное сочетание вкусов: сочная птица, хрустящая картошка и кремовая текстура соуса!
			
			.combo-set.gap-12
				a(href="#!").product.product-horiz.align-left
					.product__img
						img(src="./img/goods/chiken2.webp", srcset="./img/goods/chiken2@2x.webp 2x" width="185" height="146" alt="img")
					.product__body
						p.product__name Куриные наггетсы
						p 6 шт
						button.btn(type="button") Заменить

				a(href="#!").product.product-horiz.align-left
					.product__img
						img(src="./img/goods/fri.webp", srcset="./img/goods/fri@2x.webp 2x" width="185" height="146" alt="img")
					.product__body
						p.product__name Картофель фри
						p 1 шт
						button.btn(type="button") Заменить
				
				a(href="#!").product.product-horiz.align-left
					.product__img
						img(src="./img/goods/souse.webp", srcset="./img/goods/souse@2x.webp 2x" width="185" height="146" alt="img")
					.product__body
						p.product__name Соус
						p 1 шт
						button.btn(type="button") Заменить
				
	
	
	//POPUP FOOTER
	footer.footer.footer--white.popUp-footer
		.container.flex-between
			.price-block 355 #[span &#8381;]
			button.btn-accent.w-100 Готово