
//products-content изначально скрыт, отображается по классу active
.products-content
	.two-columns
		a(href="#!").product
			.product__img.p-10
				img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
			.product__body
				p.product__name Пицца Баварская
				p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
			
				button.btn(type="button") от 630 &#8381;
		a(href="#!").product
			.product__img.p-10
				img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
			.product__body
				p.product__name Пицца Баварская
				p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
			
				button.btn(type="button") от 630 &#8381;
		a(href="#!").product
			.product__img.p-10
				img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
			.product__body
				p.product__name Пицца Баварская
				p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
			
				button.btn(type="button") от 630 &#8381;
		a(href="#!").product
			.product__img.p-10
				img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
			.product__body
				p.product__name Пицца Баварская
				p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
			
				button.btn(type="button") от 630 &#8381;
		a(href="#!").product
			.product__img.p-10
				img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" width="185" height="146" alt="img")
			.product__body
				p.product__name Пицца Баварская
				p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
			
				button.btn(type="button") от 630 &#8381;

