
//products-content изначально скрыт, отображается по классу active
.products-content.two-columns
	a(href="#!").product
		.product__img
			img(src="./img/goods/pizza1.webp", srcset="./img/goods/pizza1@2x.webp 2x" width="382"  height="238" alt="img")
		.product__body
			p.product__name Пицца Баварская
			p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		
			span.btn от 630 &#8381;
	a(href="#!").product
		.product__img
			img(src="./img/goods/pizza1.webp", srcset="./img/goods/pizza1@2x.webp 2x" width="382"  height="238" alt="img")
		.product__body
			p.product__name Пицца Баварская
			p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		
			span.btn от 630 &#8381;
	a(href="#!").product
		.product__img
			img(src="./img/goods/pizza1.webp", srcset="./img/goods/pizza1@2x.webp 2x" width="382"  height="238" alt="img")
		.product__body
			p.product__name Пицца Баварская
			p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		
			span.btn от 630 &#8381;
	a(href="#!").product
		.product__img
			img(src="./img/goods/test.webp", srcset="./img/goods/test@2x.webp 2x" width="382"  height="238" alt="img")
		.product__body
			p.product__name Пицца Баварская
			p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		
			span.btn от 630 &#8381;
	


