@use "base/var" as *;
.form-item{
	position: relative;
	
	input, textarea{
		display: block;
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		font-family: $ff;
		color: $p;
		height: 48px;
		border-bottom: 1px solid $s;
		background-color: transparent;
		&::placeholder{
			color: $s4;
		}
		&:focus{
			border-bottom-color: $p;
		}
		
	}	
	textarea{
		padding-top: 14px;
		padding-bottom: 14px;
		resize: none;
	}
}

.form-item.error{
	&:after{
		content:'';
		width: 16px;
		height: 16px;
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: calc(12px + 16px);
		z-index: 2;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.99992 9.21333C7.82311 9.21333 7.65354 9.1431 7.52851 9.01807C7.40349 8.89305 7.33325 8.72348 7.33325 8.54667V4.81333C7.33325 4.63652 7.40349 4.46695 7.52851 4.34193C7.65354 4.21691 7.82311 4.14667 7.99992 4.14667C8.17673 4.14667 8.3463 4.21691 8.47132 4.34193C8.59635 4.46695 8.66658 4.63652 8.66658 4.81333V8.54667C8.66658 8.72348 8.59635 8.89305 8.47132 9.01807C8.3463 9.1431 8.17673 9.21333 7.99992 9.21333V9.21333Z' fill='%23D7001A' /%3e%3cpath d='M7.99992 11.8667C7.82311 11.8667 7.65354 11.7964 7.52851 11.6714C7.40349 11.5464 7.33325 11.3768 7.33325 11.2V10.888C7.33325 10.7112 7.40349 10.5416 7.52851 10.4166C7.65354 10.2916 7.82311 10.2213 7.99992 10.2213C8.17673 10.2213 8.3463 10.2916 8.47132 10.4166C8.59635 10.5416 8.66658 10.7112 8.66658 10.888V11.2C8.66658 11.3768 8.59635 11.5464 8.47132 11.6714C8.3463 11.7964 8.17673 11.8667 7.99992 11.8667Z' fill='%23D7001A' /%3e%3cpath d='M7.99997 15.8667C6.44409 15.8667 4.92315 15.4053 3.62948 14.5409C2.33582 13.6765 1.32753 12.4479 0.732119 11.0104C0.136709 9.573 -0.0190769 7.99127 0.28446 6.46529C0.587997 4.93931 1.33722 3.5376 2.4374 2.43743C3.53757 1.33726 4.93928 0.588028 6.46526 0.284491C7.99124 -0.0190464 9.57297 0.13674 11.0104 0.732149C12.4479 1.32756 13.6765 2.33585 14.5409 3.62952C15.4053 4.92318 15.8666 6.44412 15.8666 8C15.8645 10.0857 15.035 12.0854 13.5602 13.5602C12.0854 15.0351 10.0857 15.8645 7.99997 15.8667V15.8667ZM7.99997 1.46667C6.7078 1.46667 5.44465 1.84984 4.37025 2.56773C3.29584 3.28563 2.45845 4.30599 1.96396 5.4998C1.46947 6.69361 1.34008 8.00725 1.59217 9.27459C1.84426 10.5419 2.4665 11.7061 3.38021 12.6198C4.29391 13.5335 5.45804 14.1557 6.72538 14.4078C7.99272 14.6599 9.30636 14.5305 10.5002 14.036C11.694 13.5415 12.7143 12.7041 13.4322 11.6297C14.1501 10.5553 14.5333 9.29217 14.5333 8C14.5312 6.2679 13.8422 4.60735 12.6174 3.38258C11.3926 2.1578 9.73207 1.46879 7.99997 1.46667V1.46667Z' fill='%23D7001A' /%3e%3c/svg%3e");
	}
	input, textarea{
		border-bottom: 1px solid $a1;
		&+p, &+span{
			font-size: 12px;
			line-height: 1.5;
			color: $a1;
		}
	}
}
.form-item +.form-item{margin-top: 12px;}
.form-btn{margin-top: 20px;}
.fake-label{
	position: relative;
	input{
		width:0.01px; height: 0.01px; opacity: 0; position: absolute; top: 0;
		left: 0; z-index: -1;
	}
}