@use "var" as *;
span.chevron-icon{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5334 21.1998C10.3844 21.2003 10.2368 21.1713 10.0991 21.1145C9.96139 21.0577 9.83628 20.9742 9.73099 20.8688L0.664321 11.8022C0.453363 11.5884 0.335083 11.3001 0.335083 10.9998C0.335083 10.6994 0.453363 10.4112 0.664321 10.1974L9.73099 1.1307C9.9438 0.917895 10.2324 0.79834 10.5334 0.79834C10.8343 0.79834 11.123 0.917895 11.3358 1.1307C11.5486 1.34351 11.6682 1.63215 11.6682 1.9331C11.6682 2.23406 11.5486 2.5227 11.3358 2.7355L3.05339 10.9998L11.3358 19.264C11.5467 19.4778 11.665 19.7661 11.665 20.0664C11.665 20.3668 11.5467 20.6551 11.3358 20.8688C11.2305 20.9742 11.1054 21.0577 10.9677 21.1145C10.83 21.1713 10.6824 21.2003 10.5334 21.1998Z' fill='%232C2C2C' /%3e%3c/svg%3e");
}
span.chevron-down{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.9011 7.24348C14.9014 7.32234 14.886 7.40048 14.856 7.47339C14.8259 7.5463 14.7817 7.61253 14.7259 7.66828L9.9259 12.4683C9.81272 12.58 9.66011 12.6426 9.5011 12.6426C9.34209 12.6426 9.18948 12.58 9.0763 12.4683L4.2763 7.66828C4.16364 7.55561 4.10034 7.40281 4.10034 7.24348C4.10034 7.08414 4.16364 6.93134 4.2763 6.81868C4.38896 6.70601 4.54177 6.64272 4.7011 6.64272C4.86043 6.64272 5.01324 6.70601 5.1259 6.81868L9.5011 11.2035L13.8763 6.81868C13.9895 6.70699 14.1421 6.64437 14.3011 6.64437C14.4601 6.64437 14.6127 6.70699 14.7259 6.81868C14.7817 6.87442 14.8259 6.94065 14.856 7.01356C14.886 7.08647 14.9014 7.16461 14.9011 7.24348V7.24348Z' fill='%231F1F1F' /%3e%3c/svg%3e");
}
span.check-icon{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.99979 9.71979C4.06626 9.71979 3.1537 9.44296 2.3775 8.92432C1.6013 8.40568 0.996321 7.66852 0.639076 6.80605C0.28183 5.94359 0.188359 4.99455 0.370481 4.07896C0.552603 3.16337 1.00214 2.32235 1.66224 1.66224C2.32235 1.00214 3.16337 0.552603 4.07896 0.370481C4.99455 0.188359 5.94359 0.28183 6.80605 0.639076C7.66852 0.996321 8.40568 1.6013 8.92432 2.3775C9.44296 3.1537 9.71979 4.06626 9.71979 4.99979C9.71852 6.25122 9.22082 7.45103 8.33593 8.33593C7.45103 9.22082 6.25122 9.71852 4.99979 9.71979ZM4.99979 1.07979C4.22448 1.07979 3.46659 1.30969 2.82195 1.74043C2.17731 2.17116 1.67488 2.78338 1.37818 3.49967C1.08148 4.21595 1.00385 5.00414 1.15511 5.76454C1.30636 6.52495 1.67971 7.22342 2.22793 7.77165C2.77615 8.31987 3.47463 8.69321 4.23503 8.84447C4.99544 8.99572 5.78362 8.91809 6.49991 8.62139C7.21619 8.3247 7.82841 7.82226 8.25915 7.17762C8.68988 6.53298 8.91979 5.77509 8.91979 4.99979C8.91852 3.96053 8.50511 2.9642 7.77024 2.22933C7.03537 1.49446 6.03905 1.08106 4.99979 1.07979Z' fill='%23FBD10E' /%3e%3cpath d='M4.49885 6.55801C4.44627 6.5582 4.39418 6.54797 4.34557 6.52792C4.29697 6.50788 4.25281 6.47841 4.21565 6.44121L3.06045 5.28601C2.98747 5.21068 2.947 5.10969 2.94776 5.00481C2.94852 4.89992 2.99045 4.79953 3.06451 4.72526C3.13857 4.65099 3.23884 4.60878 3.34372 4.60773C3.44861 4.60667 3.54971 4.64685 3.62525 4.71961L4.49885 5.59321L6.37405 3.71801C6.40944 3.67502 6.45343 3.6399 6.50318 3.61489C6.55293 3.58988 6.60735 3.57553 6.66297 3.57276C6.71859 3.56999 6.77417 3.57887 6.82616 3.59882C6.87815 3.61877 6.9254 3.64936 6.96488 3.68862C7.00437 3.72788 7.03523 3.77496 7.05547 3.82683C7.07572 3.87871 7.08491 3.93424 7.08246 3.98987C7.08001 4.0455 7.06597 4.10001 7.04124 4.1499C7.01651 4.19979 6.98164 4.24397 6.93885 4.27961L4.78205 6.44121C4.74489 6.47841 4.70073 6.50788 4.65212 6.52792C4.60352 6.54797 4.55143 6.5582 4.49885 6.55801Z' fill='%23FBD10E' /%3e%3c/svg%3e");
}
.svg-login{
	width: 18px;
	height: 20px;
}

.svg-logo{
	width: 180px;
	height: 90px;
}
.svg-cross, .svg-out,.svg-reload, .svg-menu,.svg-cart, .svg-logo, .svg-star, .svg-discount, .svg-info, .svg-list, .svg-delete, .svg-doc, .svg-favor, .svg-share,.svg-explore, .svg-plus{
	color: $p;
	display: inline-block;
}
.svg-cross{
	width: 26px;
	height: 26px;	
}
.svg-out, .svg-favor, .svg-share,.svg-explore{
	width: 27px;
	height: 28px;
}
.svg-out{color: $p;}
.svg-menu, .svg-cart,.svg-star, .svg-discount, .svg-info, .svg-list, .svg-delete, .svg-doc{
	width: 32px;
	height: 32px;
}
.svg-reload{width:23px; height:22px;}
.svg-wallet, .svg-note, .svg-alarm, .svg-flag, .svg-assig, .svg-trolley{
	width: 24px;
	height: 24px;
	display: block;
	flex-shrink: 0;
	color: #ffdd9a;
}
.svg-plus, .svg-note, .svg-check {
	width: 20px;
	height: 20px;
}
.svg-check{
	display: block;
	color: #D7001A;
}
.svg-alarm,.svg-flag, .svg-assig, .svg-trolley{
	width: 29px;
	height: 29px;
	color: #BFBFBF;
}
.svg-pin,.svg-phone{
	display: block;
	color: #2c2c2c;
	width: 28px;
	height: 28px;
}
.svg-pin{width: 22px;}