//- ===== colors ======
$p:#1C1C1C;
$p2: #2c2c2c;
$s: #BFBFBF;
$s1: #EEEEEE;
$s2: #F7F7F7;
$s3: #FFDD9A;
$s4:#A3A7B4;
$s5:#86898F;
$a1: #D7001A;
$a2: #FBD10E;
$a3: #FFE051;
$a4: #BF0017;

$fs: "Cuprum",  sans-serif;
$ff: "RobotoCondensed",  sans-serif;
