@use "../base/var" as *;
.switch-group{
	display: flex;
	justify-content: space-between;
	height: 48px;
	border-radius: 50px;
	padding: 2px;
	background-color: $s2;
	.switch-label{
		flex:1;
		display: flex;
		justify-content: center;
		border-radius: 100px;
		position: relative;
		
		input{width:0.01px; height: 0.01px; position: absolute; top:0; left:0; }
		.switch-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			color: $p;
			width: 100%;
			border-radius: 100px;
		}
		input:checked + span.switch-btn{
			background-color: #fff;
			box-shadow: 0 12px 38px 0 rgba(0, 0, 0, 0.08);
			

		}
	}
}