mixin counter
	.counter
		button(type="button" disabled aria-label="Уменьшить количество").counter-minus
		span.counter-value(contenteditable="true") 2
		button(type="button" aria-label="Увеличить количество" ).counter-plus