extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Pizza Mega Magic
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная-Авторизировано
			a(href="main2.html")
				span Главная - Не авторизировано
			a(href="main-popup-v2.html")
				span Главная-popUp-version2
			a(href="autorize.html")
				span Авторизация
			a(href="registr.html")
				span Регистрация
			a(href="profile-login.html")
				span Вход в ЛК
			a(href="cart.html")
				span Корзина
			a(href="order-page.html")
				span Оформление
			a(href="my-address.html")
				span Мои адреса
			a(href="order-history.html")
				span История заказов
			
			
block variables
	-var title = "Pizza Mega Magic";
