extends ../layouts/layout.pug

block content
	//HEADER
	header.header
		.container
			.header-content
				button.menu-btn#open-profile-menu
					span
				.header-right
					//LANG DROP
					.lang-select.dropdown
						button.dropdown__button(type="button") RU
						
						.dropdown__list
							ul
								li.dropdown__list-item.selected(data-value="RU") Русский
								li.dropdown__list-item(data-value="EN") English
								li.dropdown__list-item(data-value="LV") latviski
						//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
						input.dropdown__input-hidden(type="hidden", name="lang")
					
					//PROFILE BTN
					button.btn-profile
						img(src="../img/profile.webp", srcset="../img/profile@2x.webp 2x" width="66" height="66"  alt="img")
	//MAIN
	main.main
		.container
			.wrapper-gap-20
				//slider
				section.main-slider.swiper
					.swiper-wrapper
						.swiper-slide
							img(src="./img/banners/banner1.webp", srcset="./img/banners/banner1@2x.webp 2x" width="540" height="325"  alt="img")
						.swiper-slide
							img(src="./img/banners/banner2.webp", srcset="./img/banners/banner2@2x.webp 2x" width="540" height="325"  alt="img")
						.swiper-slide
							img(src="./img/banners/banner1.webp", srcset="./img/banners/banner1@2x.webp 2x" width="540" height="325"  alt="img")
						.swiper-slide
							img(src="./img/banners/banner2.webp", srcset="./img/banners/banner2@2x.webp 2x" width="540" height="325"  alt="img")
					.main-slider-pagination
				
				sectiion.products
					//categories
					.scroll-wrapper.sticky-menu
						.cat-wrapper
							+catCard(1,'Пицца', '#pizza')
							+catCard(2,'Роллы', '#roll')
							+catCard(3,'Бургеры','#burger')
							+catCard(4,'Закуски','#zakuski')
							+catCard(5,'Напитки','#drink')
							+catCard(6,'Десерты')
							+catCard(7,'Салаты')
							+catCard(8,'Наборы')
					
					//КОНТЕНТ POPULARE
					.products-group
						h2.h9 Популярное
						include ../sections/_products-poppulare
					//КОНТЕНТ ДЛЯ ВКЛАДКИ PIZZA
					.products-group#pizza
						h2.h9 Пицца
						include ../sections/_category-products
						
					//КОНТЕНТ ДЛЯ ВКЛАДКИ ROLL
					.products-group#roll
						h2.h9 Роллы
						.products-content
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza3.webp", srcset="../img/goods/pizza3@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza4.webp", srcset="../img/goods/pizza4@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
					//КОНТЕНТ ДЛЯ ВКЛАДКИ Бургеры
					.products-group#burger
						h2.h9 Burger
						.products-content
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza3.webp", srcset="../img/goods/pizza3@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza4.webp", srcset="../img/goods/pizza4@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
					//КОНТЕНТ ДЛЯ ВКЛАДКИ Закуски
					.products-group#zakuski
						h2.h9 Закуски
						.products-content
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza3.webp", srcset="../img/goods/pizza3@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
							a(href="#!").product.product-horiz
								.product__img
									img(src="../img/goods/pizza4.webp", srcset="../img/goods/pizza4@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
					//КОНТЕНТ ДЛЯ ВКЛАДКИ Напитки
					.products-group#drink
						h2.h9 Напитки
						.products-content
							a(href="#!").product.product-horiz
								.product__img.p-10
									img(src="../img/goods/juice1.webp", srcset="../img/goods/juice1@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
							a(href="#!").product.product-horiz
								.product__img.p-10
									img(src="../img/goods/juice2.webp", srcset="../img/goods/juice2@2x.webp 2x" width="185" height="146" alt="img")
								.product__body
									p.product__name Пицца Баварская
									p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
								
									button.btn(type="button") от 630 &#8381;
	//FOOTER
	footer.footer
		.container
			.footer-content
				p.h11 Корзина
				.cart-preview
					.cart-preview__img
						img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" alt="img")
						img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" alt="img")
						img(src="../img/goods/pizza1.webp", srcset="../img/goods/pizza1@2x.webp 2x" alt="img")
						
					.cart-preview__count.flex-center
						span.h11 7
				button.btn-open-cart

			
	//PROFILE FRAME открывается по клику на БУРГЕР
	.profile-menu-wrapper#profile-menu
		//HEADER
		.header
			.container
				.header-content
					button(type="button").btn-close#close-profile-menu
					.h2-up Профиль
		//BODY
		.profile-menu-body
			.container
				.profile-header
					.profile-header__avatar
						img(src="../img/avatar.webp",  srcset="../img/avatar@2x.webp 2x" alt="avatar")
					.profile-header__text
						.h5 Ульяна
						a.txt-grey(href="#!") info@internet-step.com
					.profile-header__btn
						button.btn-out
							svg.svg-out
								use(href='../img/sprite.svg#svg-out')
			
				.profile-menu
					.li
						svg.li-icon.svg-menu
							use(href='../img/sprite.svg#svg-menu')
						.h8 Меню
					.li
						svg.li-icon.svg-cart
							use(href='../img/sprite.svg#svg-cart')
						.h8 Корзина
						span.notify-item 4
					.li
						svg.li-icon.svg-list
							use(href='../img/sprite.svg#svg-list')
						.h8 История заказа
						span.notify-item 44
					.li
						svg.li-icon.svg-star
							use(href='../img/sprite.svg#svg-star')
						.h8 Избранное
						span.notify-item 7
					.li
						svg.li-icon.svg-discount
							use(href='../img/sprite.svg#svg-discount')
						.h8 Бонусы
					.li
						svg.li-icon.svg-info
							use(href='../img/sprite.svg#svg-info')
						.h8 О нас
					.li
						svg.li-icon.svg-doc
							use(href='../img/sprite.svg#svg-doc')
						.h8 Наша политика
					
					.li.li-delete-profile
						svg.li-icon.svg-delete
							use(href='../img/sprite.svg#svg-delete')
						.h8 Удалить аккаунт
		//FOOTER
		.footer
			.container
				.footer-content.flex-center
					a.h11.txt-s3.flex(href="#!") Войти как курьер
						svg.svg-login
							use(href='../img/sprite.svg#svg-login')

	//POPUP
	include ../sections/_product-modal-v2
	
	//additional products
	//- include ../sections/_add-product-modal
block variables
	-var title = "Pizza Mega Magic";
