extends ../layouts/layout.pug

block content
	
	//HEADER
	header.header
		.container
			.header-content
				a(href="order-page.html").btn-back
				.h2-up История заказов
				
	//MAIN
	main.main
		.container
			.order-history-wrapper.gap-12
				a(href="single-order.html").order-history-card
					.card-col
						p.txt-16 #[strong Заказ №:] 1003
						.h3 1675&nbsp;&#8381;
					.card-col
						.round-label Заказ оформлен
						.round-label.round-label--outline Самовывоз
				a(href="single-order.html").order-history-card
					.card-col
						p.txt-16 #[strong Заказ №:] 1003
						.h3 1675&nbsp;&#8381;
					.card-col
						.round-label Заказ оформлен
						.round-label.round-label--outline Самовывоз
				a(href="single-order.html").order-history-card
					.card-col
						p.txt-16 #[strong Заказ №:] 1003
						.h3 1675&nbsp;&#8381;
					.card-col
						.round-label Заказ оформлен
						.round-label.round-label--outline Самовывоз
				a(href="single-order.html").order-history-card
					.card-col
						p.txt-16 #[strong Заказ №:] 1003
						.h3 1675&nbsp;&#8381;
					.card-col
						.round-label Заказ оформлен
						.round-label.round-label--outline Самовывоз
					