extends ../layouts/layout.pug

block content
	
	//HEADER
	header.header
		.container
			.header-content
				a(href="order-page.html").btn-back
				.h2-up Заказ № 1003
				
	//MAIN
	main.main.bg-grey
		.container.gap-20
			//STEPS
			.current-order
				.order-history-card
					.card-col
						p.txt-16 #[strong Заказ №:] 1003
						.h3 1675&nbsp;&#8381;
					.card-col
						.round-label 27.01.2025 13:19
						.round-label.round-label--outline Картой при получении
				.current-order-row
					.title-16 По адресу:
					.txt-16.txt-s5 г. Название города, ул. Название улицы, дом. 23, кв. 15
			//CARD
			.current-order-info.flex-between
				.order-body
					ul.order-info-list
						li
							p 
								strong Получатель:
							p Ульяна
							p +7 965 473 53 44
						
				.current-order-links.flex
					a(href="#!").round-link
						svg.svg-phone
							use(href='./img/sprite.svg#svg-phone')
					a(href="#!").round-link.round-link--accent
						svg.svg-pin
							use(href='./img/sprite.svg#svg-pin')
			
			.content-group.gap-12
				.h5 Состав заказа:
				.order-set.gap-12
					.order-card.order-set-card
						.order-header
							p.h11 Пицца Особая
							p.h11 365&nbsp;&#8381;
						.order-body
							.txt-14 Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
							.txt-12.txt-s4 Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
					.order-card.order-set-card
						.order-header
							p.h11 Пицца “Маргарита”
							p.h11 635&nbsp;&#8381;
						.order-body
							.txt-14 Моцарелла, помидоры, томатный соус, орегано.
							
					.order-card.order-set-card
						.order-header
							p.h11 Пицца “Карбонара”
							p.h11 800&nbsp;&#8381;
						.order-body
							.txt-14 Бекон, моцарелла, грана падано, яйцо куриное, сливки.
							
					.order-card.order-set-card
						.order-header
							p.h11 Пицца Гавайская
							p.h11 365&nbsp;&#8381;
						.order-body
							.txt-14 Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
					
					.order-card.order-set-card
						.order-header
							p.h11 Чикен бокс
							p.h11 365&nbsp;&#8381;
						.order-body
							.txt-14 Куриные наггетсы, Картофель фри, Соус Сырный
							